body {
    font-style: 100%;
    background-color: lightgrey;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.column {
    padding: 16px;
    /* start - m - l+rpadding / number of items */
    /* 960 -   60 - (16*6)    / 3               */
    width: 268px;
}

.column-left {
    background-color: tomato;
}

.column-middle {
    background-color: orange;
}

.column-right{
    background-color: gold;
}

.column-full {
    background-color: olivedrab;
    /* 960 - lp - rp */
    /* 960 - 16 - 16 */
    width: 928px;
}

header {
    padding: 16px 16px 24px 16px;
}